test.py
rewrite.py
*.sh
static/img/mediaImages/*
scannedFiles.json
config.ini
static/img/cleanBanner.png
.vscode/settings.json
*.pyc
database.db
static/bios/*
!static/bios/readme.txt
.vscode/tasks.json
static/img/*