@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #1d1d1d
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
input,
label,
ion-icon,
span,
li {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
}

input:focus {
    outline: none;
}

 :active,
 :focus,
 :visited {
    text-decoration: none;
}

 ::-webkit-scrollbar {
    display: none;
}

.wave_top {
    transform: scale(-1);
    position: relative;
}

header {
    width: 3vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(50px);
}

.form_group {
    position: absolute;
    right: 12vw;
    top: 3vh;
}

form#searchForm .form_field {
    transition: width 300ms;
}

form#searchForm:hover .form_field {
    transition: width 300ms;
    width: 15vw;
    font-size: 2vh;
}

.form_field {
    border: none;
    padding-left: 0.5vw;
    width: 20vw;
    height: 4vh;
    background: rgba(157, 157, 157, 0.25);
    border-radius: 2vw;
    z-index: 2;
    filter: drop-shadow(0.1vh 0.1vh 0.5vh #000);
    color: white;
}

.form_field::placeholder {
    color: white;
}

.form_field:focus {
    outline: none;
}

form#searchForm .form_field_search {
    transition: width 300ms;
}

form#searchForm:hover .form_field_search {
    transition: width 300ms;
    width: 15vw;
    font-size: 2vh;
}

.form_field_search {
    border: none;
    padding-left: 0.5vw;
    font-size: 0;
    position: absolute;
    width: 2vw;
    height: 4vh;
    right: 3.7vw;
    top: 1.2vh;
    background: rgba(157, 157, 157, 0.25);
    border-radius: 2vw;
    z-index: 2;
    filter: drop-shadow(0.1vh 0.1vh 0.5vh #000);
    color: white;
}

.form_field_search::placeholder {
    color: white;
}

.form_field_search:focus {
    outline: none;
}

.search_icon {
    color: #ffffff;
    position: absolute;
    right: 4.04vw;
    top: 1.8vh;
    z-index: 3;
    font-size: 1.25vw;
}

.movies,
.series {
    margin-top: 47.25vh;
    width: 97vw;
    flex-wrap: wrap;
    margin-left: 3vw;
    z-index: 2;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3.84vw;
    grid-row-gap: 0px;
}

.episodes {
    margin-top: 65vh;
    width: calc(100vw - 2.98vw);
    flex-wrap: wrap;
    margin-left: 3vw;
    z-index: 2;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 0px;
}

.contentEpisodes {
    display: inline-flex;
}

.coverEpisodes {
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.cover_episode {
    min-width: 35vw;
    max-width: 35vw;
}

.episodeText {
    height: 40vh;
    margin-left: 2vw;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
}

.episodeTitle {
    margin-top: 3vh;
    margin-bottom: -1vh;
    font-size: 4vh;
}

.episodeDescription {
    height: 20vh;
    display: table-cell;
    vertical-align: middle;
}

.cover {
    display: block;
    text-align: center;
    order: 1;
    cursor: pointer;
    margin-bottom: 2vh;
    width: 13vw;
}

.cover:hover {
    cursor: pointer;
}

.cover_movie,
.cover_serie {
    border-radius: 1vh;
    transition: 300ms transform;
    display: block;
    width: 12.8vw;
    height: 39vh;
    object-fit: cover;
}

.not_seen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cover_movie_not_seen,
.cover_serie_not_seen {
    flex: 0 1 auto;
}

.card {
    background: #272727;
    backdrop-filter: blur(50px);
    border-radius: 2vw;
    width: 13vw;
    height: 32vh;
    color: #3E72CE;
    min-width: 13vw;
}

.card p {
    margin-top: 3vh;
    font-size: 3vh;
    padding: 2vh 0 2vh 0;
    align-items: initial;
    display: block;
    text-align: center;
}

.card ion-icon {
    font-size: 10vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 100%;
}

.cardsIndex {
    width: 97vw;
    margin-top: 22vh;
    margin-left: 3vw;
    display: grid;
    justify-items: center;
    gap: 5vh 0;
}

.logo_svg {
    cursor: pointer;
}

.logo {
    position: absolute;
    width: 2vw;
    height: auto;
    left: 0.5vw;
    top: 3vh;
}

.rightEffect {
    width: 2vw;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    filter: blur(2vh);
    pointer-events: none;
}

.icon {
    color: white;
    font-size: 3vh;
    width: 3vw;
}

.headerIcons {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 16vh;
    height: 56vh;
}

.logoutIcon {
    position: absolute;
    color: white;
    font-size: 3vh;
    width: 3vw;
    bottom: 10vh;
    margin-left: 0.1vw;
}

.personIcon {
    position: absolute;
    color: white;
    font-size: 3vh;
    width: 3vw;
    bottom: 2vh;
}

.settings {
    position: absolute;
    right: 1vw;
    top: 1vh;
    z-index: 3;
    filter: drop-shadow(1px 1px 10px #000);
}

.settings ion-icon {
    color: #ffffff;
    font-size: 4vh;
}

.portInput {
    padding: 2vh;
}

.languageDiv {
    margin-top: 1vh;
}

.librariesDiv {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 27vw;
}

label[for="addLibraryButton"] {
    font-size: 2vh;
    vertical-align: middle;
}

#addLibraryButton {
    background: none;
    border: none;
    color: white;
    font-size: 3vh;
    height: 4vh;
    vertical-align: middle;
    cursor: pointer;
}

#addLibraryButton ion-icon {
    pointer-events: none;
}

.tabsLibrary {
    width: 20vw;
    height: 100%;
    background: #000000a8;
    border-radius: 2vw 0 0 2vw;
    position: absolute;
}

.libTabs {
    height: 56vh;
    font-size: 4vh;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15vh;
    width: 16vw;
    margin-left: 2vw;
}

.pencilIcon {
    position: absolute;
    margin-top: -4vh;
    font-size: 4vh;
    color: white;
    margin-left: 4vw;
    filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, 1));
    display: none;
    z-index: 99999999;
}

.cover:hover .pencilIcon {
    display: initial !important;
    animation: showPencil 100ms ease-in-out;
}

.video-js .vjs-current-time,
.video-js .vjs-audio-button {
    display: block !important;
}

@keyframes showPencil {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.settingsLibrary {
    height: 86vh;
    border-radius: 0 2vw 0 0;
    width: 96vw;
    background: #0000002e;
    position: absolute;
    animation: appearPopup 0.5s ease-in-out;
}

.bottomPart {
    position: absolute;
    margin-top: calc(86vh - 4px);
    background: #444444;
    width: 96vw;
    height: 10vh;
    border-radius: 0 0 2vw 2vw;
    border-top: 4px #dadada solid;
    animation: appearPopup 0.5s ease-in-out;
}

.submitNewLib {
    top: 2vh;
    position: absolute;
    height: 6vh;
    right: 2vw;
    width: 7vw;
    border-radius: 2vw;
    border: 0.2vw solid #ffffff;
    background: none;
    color: white;
    cursor: pointer;
}

.submitNewLib:hover {
    background: white;
    color: #1d1d1d;
}

input[type="radio"] {
    visibility: hidden;
    display: none;
}

.libTypeSelect {
    display: flex;
    justify-content: space-around;
    margin: 0 10vw;
    margin-top: 18vh;
    font-size: 2vw;
}

#libraryName,
#libraryPath {
    border: none;
    padding-left: 0.5vw;
    font-size: 2vw;
    height: 7vh;
    background: rgba(157, 157, 157, 0.25);
    border-radius: 2vw;
    filter: drop-shadow(0.1vh 0.1vh 0.5vh #000);
    color: white;
}

.libraryName,
.libraryPath {
    text-align: center;
    width: 32vw;
    margin-top: 12vh;
    font-size: 2vw;
    margin-left: 19vw;
}

.libraryPath {
    width: 34vw;
}

.libraryUsers {
    text-align: center;
    width: 18vw;
    margin-top: -27vh;
    font-size: 2vw;
    margin-left: 64vw;
}

.settingsCheckbox {
    height: 1.25vw;
    border-radius: 20vw;
    transform: scale(1.25);
}

label[for="movie"],
label[for="tv"],
label[for="games"] {
    text-align: center;
}

.saveSettings {
    height: 10vh;
    width: 12vw;
    margin-top: 10vh;
    margin-bottom: 2vw;
    display: inline-block;
    text-decoration: none;
    z-index: 5;
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 2vh 3vw;
    transition: 300ms;
    background: none;
    margin-right: 6vw;
}

.createAccountButton {
    height: 10vh;
    width: 12vw;
    margin-right: 5vw;
    text-decoration: none;
    z-index: 5;
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 2vh 3vw;
    transition: 300ms;
    background: none;
}

.saveSettings:hover,
.createAccountButton:hover {
    background: white;
    color: #1d1d1d;
}

.saveSettingsForm {
    margin-top: 2vh;
    text-align: end;
    position: absolute;
    left: 35.6vw;
}

.createAccount {
    margin-top: 10vh;
    text-align: end;
    margin-left: 17vw;
    width: 45vw;
}

.form_field_create_account {
    border: none;
    width: 20vw;
    height: 4vh;
    background: rgba(157, 157, 157, 0.25);
    border-radius: 2vw;
    z-index: 2;
    filter: drop-shadow(0.1vh 0.1vh 0.5vh #000);
    color: white;
    margin-bottom: 3vh;
    padding-left: 0.5vw;
    margin-left: 0 !important;
}

.form_field_create_account::placeholder {
    color: white;
}

.form_field_create_account:focus {
    outline: none;
}

#playPauseButton,
#audioSize {
    color: grey;
}

#playerControls {
    position: absolute;
    bottom: 85px;
    left: 480px;
}

#playerWrapper {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.movieDesc {
    display: none;
}

.popup {
    width: 96vw;
    height: 96vh;
    position: fixed;
    top: 2vh;
    background: rgb(39 39 39 / 0.62);
    backdrop-filter: blur(115px);
    border-radius: 2vw;
    margin-left: 2vw;
    z-index: 99999999999999999999;
    animation: appearPopup 0.5s ease-in-out;
}

.popupLibrary {
    display: none;
}

@keyframes appearPopup {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
        background-color: #ffffff00;
    }
    100% {
        opacity: 1;
        width: 96vw;
        height: 96vh;
        background-color: #272727;
    }
}

@keyframes appearImagePopup {
    0% {
        width: 0;
        height: 0;
        left: 2vw;
    }
    100% {
        width: 29vw;
        height: 92vh;
        object-fit: cover;
        top: 2vh;
        position: absolute;
        left: 1.5vw;
        border-radius: 2vh;
    }
}

.coverPopup {
    width: 29vw;
    height: 92vh;
    object-fit: cover;
    top: 2vh;
    position: absolute;
    left: 1vw;
    border-radius: 2vh;
    animation: appearImagePopup 0.5s ease-in-out;
}

.crossPopup {
    position: absolute;
    right: 0.75vw;
    top: 1.5vh;
    font-size: 4vh;
    cursor: pointer;
    z-index: 1;
    color: white;
}

.titlePopup {
    font-size: 5vh;
    text-align: center;
}

.descriptionPopup {
    font-size: 2vh;
    margin-left: 1.75vw;
    width: 62vw;
    height: 30vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPopup {
    margin-left: 1.75vw;
    font-size: 2vh;
    margin-top: 2vh;
}

.playPopup {
    position: absolute;
    left: 58.25vw;
    bottom: 2vh;
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 2vh 2vw;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 300ms;
}

.playPopup:hover {
    background: white;
    color: #1d1d1d;
}

.playPopup ion-icon {
    margin-right: 0vw;
}

.video-js[tabindex="-1"] {
    width: 94vw !important;
    height: 81.55vh !important;
    top: 9.15vh;
    left: 4.5vw;
}

.notSorted {
    position: absolute;
    text-align: center;
    width: 97vw;
    margin-left: 3vw;
    margin-top: 65vh;
}

.notSorted h1 {
    color: white;
    font-size: 2vh;
}

.notSorted ul {
    font-size: 2vh;
}

.moviePopup {
    width: 38vw;
    height: 18vh;
    position: absolute;
    top: 41vh;
    background: #272727;
    backdrop-filter: blur(115px);
    border-radius: 2vw;
    left: 31vw;
    z-index: 99999999999999999999;
    text-align: center;
}

.moviePopup h1 {
    margin-top: 2vh;
    color: white;
}

.moviePopup a {
    cursor: pointer;
    font-size: 4vh;
    position: absolute;
    padding: 0vw 1vw 0vw 1vw;
    border-radius: 2vw;
    margin-top: 4vh;
    color: white;
}

#buttonYes {
    background: rgb(0, 80, 0);
    left: 11vw;
}

#buttonNo {
    background: rgb(80, 0, 0);
    left: 22vw;
}

.buttonSearch {
    cursor: pointer;
    background-color: #ffffff00;
    border: none;
}

.popupContent {
    width: 65.5vw;
    height: 78vh;
    margin-left: 30.5vw;
    margin-top: 5vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.popupContent::-webkit-scrollbar {
    width: 1.25vh;
    display: block;
}

.popupContent::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 48vh;
}

.popupContent::-webkit-scrollbar-track {
    background: #ffffff00;
}

.castPopup {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 2vh;
    width: 64vw;
    margin-top: 2vh;
    margin-left: 1.5vw;
}

.castImage {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 100vw;
}

.castMember {
    text-align: center;
}

.castImage,
.castName,
.castCharacter {
    cursor: pointer;
}

.containerSeasons {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20vh;
    height: auto !important;
}

.containerSimilar,
.containerSeasons {
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 2vh;
    width: 63.5vw;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 5vw;
    height: 42vh;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.containerSimilar .movie,
.containerSimilar .serie,
.containerSeasons .season {
    width: 12vw;
    height: 38vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 2vh;
}

.containerSimilar .movie .movieImage,
.containerSimilar .serie .serieImage,
.containerSeasons .season .seasonCoverImage {
    width: 12vw;
    height: 36vh;
    object-fit: cover;
    border-radius: 2vw;
}

.containerSimilar .movie .movieTitle,
.containerSimilar .serie .serieTitle,
.containerSeasons .season .seasonTitle {
    text-align: center;
}

.season {
    cursor: pointer !important;
}

.trailerVideo {
    --videoWidth: 40vw;
    width: var(--videoWidth);
    height: calc((var(--videoWidth) / 16)* 9);
    margin-left: 12vw;
    margin-top: 4vh;
    border: none;
}

.actorMoviesList,
.actorSeriesList {
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 2vh;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: 65vw;
    margin-top: 4vh;
    margin-left: 15vw;
}

.moviesTitle,
.seriesTitle {
    text-align: center;
    margin-left: 38vw;
    background: #272727;
    backdrop-filter: blur(50px);
    border-radius: 9999999999vw;
    font-size: 3vh;
    padding: 1vh;
    margin-top: 4vh;
    width: 18vw;
}

.actorInformations {
    width: 65vw;
    margin-left: 15vw;
    margin-top: 20vh;
    background: #272727;
    backdrop-filter: blur(50px);
    border-radius: 2vw;
    height: 36vh;
}

.actorName {
    margin-left: 15vw;
    position: absolute;
    margin-top: 2vh;
}

.actorPicture {
    border-radius: 2vw;
    width: 24vh;
    object-fit: cover;
    height: 34vh;
    margin-top: 1vh;
    margin-left: 1vw;
}

.actorBiography {
    position: absolute;
    margin-left: 15vw;
    margin-top: -28vh;
    width: 48vw;
}

.seeMore {
    display: inline-block;
    text-decoration: none;
    z-index: 5;
    position: absolute;
    bottom: 2vh;
    left: calc(50vw - (8vw / 2));
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 2vh 4vw;
    transition: 300ms transform;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
    box-shadow: 0.1vh 0.1vh 0.5vh #000;
}

.seeMore:hover {
    background: white;
    color: #1d1d1d;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.cover:hover .cover_movie,
.cover:hover .cover_serie,
.cover:hover .timePopup,
.cover:hover .timePopupSeason {
    transform: scale(1.05);
}

.watchNow {
    font-size: 3.4vh;
    padding: 0 1vw 0 0;
    filter: drop-shadow(0.1vh 0.1vh 0.5vh #000);
}

.watchNowA {
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 3vh 4vw;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 300ms background, color;
    z-index: 5;
    position: absolute;
    top: 35vh;
    left: 10vw;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
    box-shadow: 0.1vh 0.1vh 0.5vh #000;
}

.watchNowA:hover {
    background: white;
    color: #1d1d1d;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.watchNowA:hover .watchNow {
    color: #1d1d1d;
    transition: 300ms;
    filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0));
}

.watchNowSeason {
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 3vh 4vw;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 300ms background, color;
    z-index: 5;
    position: absolute;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
    box-shadow: 0.1vh 0.1vh 0.5vh #000;
    margin-top: 28vh;
    margin-left: 37vw;
}

.watchNowSeason:hover {
    background: white;
    color: #1d1d1d;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.watchNowSeason:hover .watchNow {
    color: #1d1d1d;
    transition: 300ms;
    filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0));
}

.bannerGenre {
    width: auto;
    position: absolute;
    top: 16vh;
    left: 10vw;
    font-size: 1.3vh;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
}

.bannerTitle {
    position: absolute;
    z-index: 9;
    top: 18.5vh;
    left: 10vw;
    font-size: 4vh;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
}

.bannerDescription {
    width: 35vw;
    position: absolute;
    top: 25vh;
    left: 10vw;
    font-size: 1.4vh;
    line-height: 1.4vh;
    font-weight: 400;
    font-style: normal;
    height: 9vh;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
    overflow: scroll;
}

.bannerCover {
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bannerSeasonCover {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

.bigBanner {
    position: absolute;
    top: 0;
    z-index: 1;
}

.actorInfo {
    margin-top: -15vh;
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

#languages::-webkit-calendar-picker-indicator,
#language::-webkit-calendar-picker-indicator {
    display: none;
}

.timePopup {
    z-index: 99;
    position: absolute;
    background-color: #383838;
    min-width: 4vw;
    border-radius: 20vh;
    margin-top: 36.5vh;
    margin-left: 7.3vw;
    padding: 0vw 1vw 0 1vw;
    transition: 300ms transform;
}

.timePopup p {
    font-size: 1.7vh;
}

.timePopupSeason {
    z-index: 99;
    position: absolute;
    background-color: #383838;
    min-width: 4vw;
    border-radius: 20vh;
    margin-top: 38.5vh;
    margin-left: 30.5vw;
    padding: 0vw 0vw 0 0.5vw;
    transition: 300ms transform;
}

.timePopupSeason p {
    font-size: 1.7vh;
}

.loaderBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: rgb(49 49 49);
}

.spinner {
    width: 10vw;
    height: 10vw;
    position: fixed;
    left: calc(50vw - 5vw);
    z-index: 99999;
    top: calc(50vh - 8vw);
}

.hydrated {
    overflow-x: hidden;
}

.buttonsShow {
    position: absolute;
    top: 92vh;
}

.buttonsShow a {
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 2vh 3vw;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 300ms background, color;
    z-index: 5;
    position: absolute;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
    box-shadow: 0.1vh 0.1vh 0.5vh #000;
}

.buttonNext {
    left: calc(91vw - (8vw / 2));
}

.buttonprevious {
    left: calc(12vw - (8vw / 2));
}

.allUsers {
    gap: 8vw;
    flex-wrap: wrap;
    margin-left: 3vw;
    z-index: 2;
    position: absolute;
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    width: 97vw;
    margin-top: 14vw;
    justify-items: center;
    align-items: center;
}

.allUsers>div>img {
    border-radius: 1vh;
    height: 13vw;
    width: 13vw;
}

.allUsers>div>h1 {
    width: 13vw;
    text-align: center;
}

.passwordLogin {
    margin-left: calc((119vw/4) - 4vw) !important;
    width: 10vw;
}

#password {
    border: none;
    padding-left: 0.5vw;
    background: rgba(157, 157, 157, 0.25);
    border-radius: 2vw;
    z-index: 2;
    filter: drop-shadow(0.1vh 0.1vh 0.5vh #000);
    color: white;
    margin-left: calc((97vw/4) - 4vw);
    margin-bottom: 3vh;
    margin-top: -10vh;
    height: 4vh;
}

#password:focus {
    outline: none;
}

#submitLogin {
    background: none;
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 3vh 4vw;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 300ms background, color;
    margin-left: calc((119vw/4) - 4vw);
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
    box-shadow: 0.1vh 0.1vh 0.5vh #000;
}

#profilePicture {
    margin-bottom: 3vh;
    margin-top: -10vh;
    width: 20vw;
}

.loginForm {
    display: none;
    margin-left: 0vw;
    z-index: 2;
    position: absolute;
    width: 60vw;
    padding: 50vh 20vw 41vh;
    margin-top: 0vh;
    background: #272727f7;
    animation: appearPopup 0.5s ease-in-out;
}

.profileUsername {
    top: 30vh;
    position: absolute;
    left: calc((97vw / 2) + 2vw);
}

.profilePassword {
    top: 47vh;
    position: absolute;
    left: 50.5vw !important;
}

.profileDiv {
    width: 50vw;
    margin-top: 12vh;
    margin-left: calc(47vw / 2);
}

.profileDiv>img {
    border-radius: 1vh;
    height: 53vh;
    width: 26vw;
}

.profileSubmitChanges {
    top: 47vh;
    position: absolute;
    left: calc((54vw / 2) + 2vw);
    background: none;
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4vh;
    padding: 3vh 4vw;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 300ms background, color;
    margin-left: calc((119vw/4) - 4vw);
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
    box-shadow: 0.1vh 0.1vh 0.5vh #000;
}

.profileSubmitChanges:hover {
    background: white;
    color: #1d1d1d;
}

.editProfilePicture {
    font-size: 6vw;
    position: absolute;
    padding: 22vh 11vw;
    height: 9vh;
    width: 4vw;
    color: white;
    background: #4545458c;
    border-radius: 1vh;
    display: none;
}

.consoleList {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: 50vh;
    grid-column-gap: 0px;
    grid-row-gap: 4vh;
    width: 97vw;
    margin-left: 9.5vw;
    margin-top: 7vh;
}

.systemDiv {
    width: 22vw;
}

.systemImage {
    border-radius: 2vh;
    width: 22vw;
}

.systemImage:hover {
    cursor: pointer;
}

.systemName {
    text-align: center;
    font-size: 3vh;
}

#gameList {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 97vw;
    margin-left: 3vw;
    margin-top: 8vh;
}

.gameDiv {
    width: 10vw;
    margin: 0 1vw;
}

.gameDiv:hover {
    cursor: pointer;
}

.gameImage {
    width: 10vw;
    object-fit: cover;
    height: 19vh;
    border-radius: 1vh;
}

.gameName {
    text-align: center;
    height: 8vh;
    display: table-cell;
    vertical-align: middle;
    width: 10vw;
}

.consoleName {
    width: 97vw;
    margin-left: 3vw;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: -3vh;
}

.gameScreen {
    width: 640px;
    height: 480px;
    max-width: 100%;
    margin-left: 32vw;
    margin-top: 18vh;
}

.backButton {
    width: 8vw;
    height: 4vh;
    margin-left: 8vw;
    margin-top: 4vh;
    font-size: 4vh;
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    padding: 2vh 2vw;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 300ms background, color;
    z-index: 5;
    position: absolute;
    text-shadow: 0.1vh 0.1vh 0.5vh #000;
    box-shadow: 0.1vh 0.1vh 0.5vh #000;
}

.backButton:hover {
    background: white;
    color: #1d1d1d;
}

.backButton:hover>.backArrow {
    color: #1d1d1d;
}

.backButton:hover>p {
    color: #1d1d1d;
    text-shadow: 0vh 0vh 0vh #0000;
    box-shadow: 0vh 0vh 0vh #0000;
}

.backButton>p {
    font-size: 3vh;
}

.backArrow {
    height: 9vh;
    margin-right: 1vw;
}

.ejs--3a16fd9a56aec8059089709cbb16f4 {
    display: none !important;
}

.discordRPC {
    margin-top: 0.5vh;
    position: absolute;
    margin-left: -8.5vw;
}

.discordRPCButton {
    margin-top: 2vh;
    position: absolute;
}

.switch {
    display: inline-block;
    width: 80px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin-left: 18.25vh;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: #9494949c;
}

.slider:before {
    position: absolute;
    bottom: 6px;
    left: 10px;
    z-index: 999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ecf0f3;
    content: "";
    transition: .5s;
}

.off {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #df2525;
    font-size: .8125rem;
}

.on {
    position: absolute;
    top: 10px;
    left: 14px;
    color: #10e910;
    font-size: .8125rem;
}

input:checked+.slider:before {
    transform: translateX(33px);
}

.selected {
    color: #5c3cdd !important;
}

.tabsLibrary ion-icon {
    margin-bottom: -1.5vh;
    height: 3vw;
}

.active {
    background: #1d1d1d;
    border-radius: 2vh;
    vertical-align: middle;
}

@media (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }
    .timePopup {
        z-index: 99;
        position: absolute;
        background-color: #383838;
        min-width: 1vw;
        border-radius: 20vh;
        margin-top: 18vh;
        margin-left: 14.5vw;
        padding: 0vw 1.5vw 0 1.5vw;
        transform: scale(1);
        transition: 300ms;
    }
    .timePopup p {
        font-size: 2.5vw;
    }
    .cover_movie,
    .cover_serie {
        object-fit: cover;
        border-radius: 1vh;
        width: 30.4vw;
        height: 21vh;
        transform: scale(1);
        transition: 300ms;
    }
    .watchNowA {
        font-size: 0.8vh;
        padding: 1vh 2vw;
        top: 42vh;
    }
    .watchNow {
        font-size: 1.4vh;
    }
    .movies,
    .series {
        width: calc(100vw - 5.8vw);
        margin-left: 5.8vw;
        grid-column-gap: 1vw;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 48vh;
    }
    .bannerTitle {
        left: 10vw;
        font-size: 2vh;
        top: 18.5vh;
    }
    .bannerDescription {
        width: 82vw;
        height: 19vh;
        overflow: scroll;
        top: 22vh;
        line-height: 1.75vh;
    }
    header {
        width: 6vw;
    }
    header a ion-icon {
        font-size: 2vh !important;
        width: 6vw !important;
        left: 0px !important;
    }
    .homeIcon {
        top: 16vh;
    }
    .movieIcon {
        top: 26vh;
    }
    .tvIcon {
        top: 36vh;
    }
    .gameIcon {
        top: 46vh;
    }
    .logo {
        width: 5.5vw;
        height: auto;
        left: 0.25vw;
        top: 6vh;
    }
    .settings ion-icon {
        font-size: 3vh;
    }
    form#searchForm:hover .form_field {
        transition: width 300ms;
        width: 45vw;
        font-size: 1.5vh;
    }
    .card {
        border-radius: 2vw;
        width: 22vw;
        min-height: 16vh;
    }
    .movieCardImage,
    .serieCardImage,
    .gameCardImage {
        width: 19vw;
        margin-left: 1.5vw;
        border-radius: 2vw;
        margin-top: 1vh;
    }
    .card p {
        text-align: center;
        margin-top: 0.5vh;
        font-size: 2vh;
    }
    .seeMore {
        display: inline-block;
        text-decoration: none;
        z-index: 5;
        position: absolute;
        bottom: 2vh;
        left: calc(45vw - (8vw / 2));
        border-radius: 10vw;
        border: 0.2vw solid #ffffff;
        cursor: pointer;
        color: #ffffff;
        font-size: 1.4vh;
        padding: 1vh 4vw;
        transition: 300ms transform;
        text-shadow: 0.1vh 0.1vh 0.5vh #000;
        box-shadow: 0.1vh 0.1vh 0.5vh #000;
    }
    .coverPopup {
        width: 90vw;
        height: 55vh;
        object-fit: cover;
        top: 2vh;
        position: absolute;
        left: 3vw;
        border-radius: 2vh;
        animation: appearImagePopup 0.5s ease-in-out;
    }
    .crossPopup {
        position: absolute;
        right: 2.75vw;
        top: -0.25vh;
        font-size: 3vh;
        cursor: pointer;
        z-index: 1;
        color: white;
    }
    .popupContent {
        width: 98vw;
        height: auto !important;
        margin-left: 0vw;
        margin-top: 56vh;
        overflow-y: scroll !important;
        overflow-x: hidden;
        position: relative;
    }
    .descriptionPopup {
        font-size: 1.4vh;
        margin-left: 1.75vw;
        width: 92.25vw;
        height: 30vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .castImage,
    .castName,
    .castCharacter {
        cursor: pointer;
        font-size: 1.4vh;
    }
    .castImage {
        width: 8vw;
        height: 8vw;
        object-fit: cover;
        border-radius: 100vw;
    }
    .containerPopup {
        margin-left: 1.75vw;
        font-size: 1.4vh;
        margin-top: 2vh;
    }
    .castPopup {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        font-size: 2vh;
        width: 93.5vw;
        margin-top: 2vh;
        margin-left: 1.5vw;
    }
    .containerSimilar,
    .containerSeasons {
        grid-template-rows: 1fr;
        width: 97vw;
        height: auto !important;
        justify-items: center;
        display: grid;
        margin-top: 2vh;
    }
    .containerSimilar .movie,
    .containerSimilar .serie,
    .containerSeasons .season {
        height: auto !important;
        width: auto !important;
    }
    .containerSimilar .movie .movieTitle,
    .containerSimilar .serie .serieTitle,
    .containerSeasons .season .seasonTitle {
        text-align: center;
        font-size: 1.4vh;
        width: 20vw;
    }
    .containerSimilar .movie .movieImage,
    .containerSimilar .serie .serieImage,
    .containerSeasons .season .seasonCoverImage {
        width: 20vw;
        height: 14vh;
        object-fit: cover;
        border-radius: 2vw;
    }
    .playPopup {
        position: inherit;
        margin-left: -24.75vw;
        border-radius: 1.5vw;
        border: 0.2vw solid #ffffff;
        cursor: pointer;
        color: #ffffff;
        font-size: 1.4vh;
        padding: 1vh 4vw;
        text-decoration: none;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: 300ms;
        margin-right: 34vw;
        bottom: 43vh;
        text-shadow: 0.1vh 0.1vh 0.5vh #000;
        box-shadow: 0.1vh 0.1vh 0.5vh #000;
    }
    .popup {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0vh;
        background: rgb(39 39 39 / 0.62);
        backdrop-filter: blur(115px);
        border-radius: 2vw;
        margin-left: 0vw;
        z-index: 99999999999999999999;
        animation: appearPopup 0.5s ease-in-out;
        overflow-x: hidden;
    }
    .cover_episode {
        height: 54vw;
        min-width: 89vw;
        object-fit: cover;
        margin-left: 3vw;
    }
    .episodeText {
        height: 38vh;
        margin-left: -86vw;
        text-shadow: 0.1vh 0.1vh 0.5vh #000;
        margin-top: 24vh;
        width: auto;
        margin-right: 6vw;
    }
    .episodeTitle {
        margin-top: 3vh;
        margin-bottom: -1vh;
        font-size: 3vh;
    }
    .episodeDescription {
        height: 20vh;
        display: table-cell;
        vertical-align: middle;
        font-size: 3vw;
    }
    .watchNowSeason {
        border-radius: 3.5vw;
        border: 0.2vw solid #ffffff;
        cursor: pointer;
        color: #ffffff;
        font-size: 1.4vh;
        padding: 2vh 12vw;
        text-decoration: none;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: 300ms background, color;
        z-index: 5;
        position: absolute;
        text-shadow: 0.1vh 0.1vh 0.5vh #000;
        box-shadow: 0.1vh 0.1vh 0.5vh #000;
        margin-top: 53vh;
        margin-left: 23vw;
    }
    .coverEpisodes {
        margin-bottom: 0;
    }
    .buttonsShow a {
        border-radius: 1.5vw;
        border: 0.2vw solid #ffffff;
        cursor: pointer;
        color: #ffffff;
        font-size: 1.4vh;
        padding: 1vh 3vw;
        text-decoration: none;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: 300ms background, color;
        z-index: 5;
        position: absolute;
        text-shadow: 0.1vh 0.1vh 0.5vh #000;
        box-shadow: 0.1vh 0.1vh 0.5vh #000;
    }
    .buttonprevious {
        left: calc(12vw - (8vw / 2));
    }
    .buttonNext {
        left: calc(89vw - (8vw / 2));
    }
    .buttonsShow {
        position: absolute;
        top: 62vh;
    }
    .video-js[tabindex="-1"] {
        width: 94vw !important;
        height: 31vh !important;
        top: 28.5vh;
        left: 6vw;
    }
    .bannerCover {
        width: 100vw;
        height: 50vh;
    }
    .cardsIndex {
        width: 94vw;
        margin-top: 22vh;
        margin-left: 6vw;
        display: grid;
        justify-items: center;
        gap: 5vh 0;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .card {
        border-radius: 2vw;
        width: 42vw;
        min-height: 16vh;
    }
    .form_field_search {
        width: 8vw;
        height: 8vw;
        right: 9vw;
        top: 0.75vh;
        border-radius: 9vw;
    }
    .form_field_create_account {
        width: 32vw;
    }
    .search_icon {
        right: 10vw;
        top: 1vh;
        font-size: 6vw;
        height: 3vh;
    }
    .trailerVideo {
        --videoWidth: 40vw;
        width: auto !important;
        height: calc((var(--videoWidth) / 16)* 9);
        margin-left: 12vw;
        margin-top: 4vh;
        border: none;
    }
    .nameAccountCreator,
    .passwordAccountCreator,
    .profileAccountCreator,
    .typeAccountCreator {
        width: 94vw;
        text-align: center;
        margin-left: -11vw;
    }
    #profilePicture {
        width: 32vw
    }
    .createAccountButton {
        width: 40vw;
        margin-right: -8vw;
    }
    .librariesDiv {
        width: 93vw;
        left: 0;
    }
    .saveSettingsForm {
        margin-top: 2vh;
        text-align: center;
        position: absolute;
        left: 6vw;
        width: 94vw;
    }
    .discordRPCButton {
        position: initial;
    }
    .switch {
        display: inline-block;
        width: 80px;
        height: 40px;
        cursor: pointer;
        position: relative;
        margin-left: 1.25vh;
        vertical-align: middle;
    }
    .form_field {
        border: none;
        padding-left: 0.5vw;
        font-size: 0;
        width: 32vw;
        height: 3vh;
        right: 7vw;
        top: 1vh;
        background: rgb(157 157 157 / 65%);
        border-radius: 6vw;
        z-index: 2;
        filter: drop-shadow(0.1vh 0.1vh 0.5vh #000);
        color: white;
    }
    label[for="port"],
    label[for="language"] {
        vertical-align: bottom;
    }
    .saveSettings {
        width: 40vw;
    }
    .libTypeSelect {
        display: flex;
        justify-content: space-around;
        margin: 0 0vw;
        margin-top: 18vh;
        font-size: 6vw;
    }
    .libraryName,
    .libraryPath {
        font-size: 6vw;
        margin-left: 6vw;
    }
    #libraryName,
    #libraryPath {
        font-size: 4vw;
    }
    .libraryUsers {
        text-align: center;
        width: 41vw;
        margin-top: -23.5vh;
        font-size: 5vw;
        margin-left: 51vw;
    }
    .settingsCheckbox {
        transform: scale(1);
    }
    .submitNewLib {
        width: 34vw;
    }
    .profileDiv {
        width: 50vw;
        margin-top: 12vh;
        margin-left: calc(47vw / 2);
    }
    .profileDiv>img {
        border-radius: 1vh;
        height: 17vh;
        width: auto;
        margin-left: 10vw;
    }
    .profileUsername {
        top: 30vh;
        position: absolute;
        left: calc((70vw / 2) + 2vw);
    }
    .profilePassword {
        top: 47vh;
        position: absolute;
        left: calc((70vw / 2) + 2vw) !important;
    }
    .profileSubmitChanges {
        left: calc((77vw / 2) + 2vw);
        margin: 0;
        top: 44vh;
    }
    .video-js .vjs-control {
        width: 3em !important;
    }
    .moviePopup {
        width: 80vw;
        left: 15vw;
        height: 20vh;
    }
    .moviePopup a {
        padding: 0 5vw 0 5vw;
    }
    #buttonNo {
        left: 52vw;
    }
    #buttonYes {
        left: 6vw;
    }
    .bannerSeasonCover {
        width: 100vw;
        height: 59vh;
        object-fit: contain;
        background-size: cover;
        background-position: center;
    }
    .episodes {
        margin-top: 50vh;
    }
}