@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(104.29deg, #08E1FF 0%, #9903D5 100%);
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #3C72CE;
}

:active,
 :focus,
 :visited {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.wave_top {
    transform: scale(-1);
    position: relative;
}

header {
    width: 95vw;
    height: 7.5vh;
    left: 2.5vw;
    top: 2.5vh;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    border-radius: 3vw;
}

.form_group {
    position: absolute;
    right: 12vw;
    top: 3vh;
}

.form_field {
    position: absolute;
    left: -14vmax;
    bottom: -2.75vmin;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2vw;
    width: 17vw;
    height: 4vh;
    border: none;
    padding-left: 0.5vw;
    font-size: 3vh;
}

.form_field:focus {
    outline: none;
}

.search_icon {
    color: #3C72CE;
    position: absolute;
    top: -0.25vh;
    font-size: 2vh;
    left: 1vw;
}

.movies {
    margin-top: 20vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.cover {
    width: 23.3vw;
    display: block;
    flex-grow: 6;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    margin: 5vw;
    text-align: center;
    font-size: 3vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    border-radius: 2vw;
    height: 62vh;
    order: 1;
}

.cover_movie {
    width: 20vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 2vw;
    margin-top: 2vh;
    left: 1vw;
}

.cover p {
    width: 23.4vw;
    margin-top: 2vh;
    color: #0056ff;
    text-align: center;
}

.not_seen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cover_movie_not_seen {
    flex: 0 1 auto;
}

.card {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    border-radius: 2vw;
    top: 25vh;
    width: 22vw;
    height: 58vh;
    position: absolute;
    color: #3E72CE;
}

.card p {
    text-align: center;
    margin-top: 3vh;
    font-size: 3vh;
}

.movieCardImage {
    width: 19vw;
    margin-left: 1.5vw;
    border-radius: 2vw;
    margin-top: 5vh;
}

.movieCard {
    left: calc(50vw - (22vw/2));
}

.logo_svg {
    cursor: pointer;
}

.logo {
    position: absolute;
    width: 7vh;
    left: 4vmin;
    top: 0.75vmin;
}

.title {
    position: absolute;
    left: 7vw;
    top: 1.75vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 4vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9903D5;
}

.settings {
    position: absolute;
    bottom: 1.75vh;
    left: 90vw;
}

.settings i {
    color: #3C72CE;
    font-size: 4vh;
}

.moviesPathDiv,
.languageDiv {
    margin-left: 63vh;
    width: 30vh;
    font-size: 1.5em;
    font-family: Arial;
    padding: 2vh;
}

.moviesPathDiv input,
.languageDiv input {
    font-size: 2vh;
    top: 24vh;
    position: absolute;
    left: calc(50vw - 4vw);
    margin-bottom: 8vw;
    padding: 0;
    bottom: 0;
}

.moviesPathDiv label,
.languageDiv label {
    vertical-align: 20%;
    font-size: 2.5vh;
}

.moviesPathDiv input {
    margin-top: -1.25vh;
}

.languageDiv input {
    margin-top: 5vh;
}

.saveSettings {
    height: 10vh;
    width: 12vw;
    font-size: 2.5vh;
    background: rgb(81 55 186);
    border: none;
    border-radius: 1.5vh;
    margin-top: 6vh;
    margin-bottom: 2vw;
}

.saveSettingsForm {
    margin-top: 21vh;
    text-align: center;
}

.saveSettings:hover {
    background: rgb(67 44 159);
}

#playPauseButton,
#audioSize {
    color: grey;
}

#playerControls {
    position: absolute;
    bottom: 85px;
    left: 480px;
}

.movieStats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    top: 62vh;
    background-color: #7a16d2;
    border-radius: 2vh;
    width: 165vh;
    left: 18vh;
    height: 33vh;
    padding: 1vh;
}

.statsTitle,
.statsNote,
.statsDesc {
    display: inline-block;
}

#playerWrapper {
    position: absolute;
    z-index: 99999;
}

.movieDesc {
    display: none;
}

.popup {
    width: 96vw;
    height: 96vh;
    position: fixed;
    top: 2vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(115px);
    border-radius: 2vw;
    margin-left: 2vw;
    z-index: 99999999999999999999;
    animation: appearPopup 0.5s ease-in-out;
}

@keyframes appearPopup {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
        background-color: #ffffff00;
    }
    100% {
        opacity: 1;
        width: 96vw;
        height: 96vh;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes appearImagePopup {
    0% {
        width: 0;
        height: 0;
        left: 2vw;
    }
    100% {
        width: 29vw;
        height: 92vh;
        object-fit: cover;
        top: 2vh;
        position: absolute;
        left: 1.5vw;
        border-radius: 2vh;
    }
}

.coverPopup {
    width: 29vw;
    height: 92vh;
    object-fit: cover;
    top: 2vh;
    position: absolute;
    left: 1.5vw;
    border-radius: 2vh;
    animation: appearImagePopup 0.5s ease-in-out;
}

.crossPopup {
    position: absolute;
    right: 2vw;
    top: 2.5vh;
    font-size: 4vh;
    cursor: pointer;
    z-index: 1;
    color: #3C72CE;
}

.titlePopup {
    position: absolute;
    font-size: 5vh;
    left: 30.5vw;
    top: 5vh;
    text-align: center;
    width: 65.5vw;
}

.descriptionPopup {
    position: absolute;
    font-size: 3vh;
    left: 32vw;
    width: 62vw;
    top: 12vh;
    height: 58vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notePopup {
    position: absolute;
    left: 32vw;
    font-size: 4vh;
    bottom: 29vh;
    width: 12vw;
}

.yearPopup {
    position: absolute;
    left: 32vw;
    font-size: 4vh;
    bottom: 24vh;
    width: 17vw;
}

.genrePopup {
    position: absolute;
    left: 32vw;
    font-size: 4vh;
    bottom: 19vh;
    width: 38vw;
}

.playPopup {
    position: absolute;
    left: 56vw;
    font-size: 4vh;
    bottom: 5vh;
    background-color: #30bf6e;
    border-radius: 2vh;
    padding: 2vh 2vw;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    color: #ffffff;
}

.playPopup i {
    margin-right: 2vw;
}

.video-js[tabindex="-1"] {
    width: 94vw !important;
    height: 81.55vh !important;
    top: 14.5vh;
    left: 3vw;
}

.notSorted {
    text-align: center;
}

.notSorted h1 {
    color: black;
    font-size: 2vh;
}

.notSorted ul {
    font-size: 2vh;
}