{% extends 'header.html' %}{% block title %}Shows Library{% endblock %} {% block content %} {% if conditionIfOne %}

<h1 style="text-align: center;width: 100vw;position: absolute;top: 23vh;color: black;">{{ errorMessage }}</h1>

{% else %} {% include 'popup.html' %}
<div class="bigBanner">
    <div class="bannerCover"></div>
    <p class="bannerGenre">
    </p>
    <h1 class="bannerTitle"></h1>
    <p class="bannerDescription">
    </p>
    <a class="watchNowA">
        <ion-icon class="watchNow" name="play" role="img" class="md hydrated" aria-label="play outline"></ion-icon>
        Watch Now
    </a>
</div>
<div class="loaderBackground" id="loaderBackground"></div>
<img class="spinner" src="{{ url_for('static', filename='img/loader.gif') }}" />

<div class="series" id="{{ routeToUse }}"></div>
<div class="brokenPath" id="{{ url_for('static',filename='img/broken.png') }}"></div>
<script src="{{ url_for('static',filename='js/allSeries.js') }}" type="text/javascript"></script>
{% endif %}{% endblock %}