{% extends 'header.html' %}{% block title %}Consoles{% endblock %}{% block content %} {% include 'popup.html' %} {% if g.currentUser["accountType"] == "Admin" %}
<button class="rescanButton rescanConsoles" id="rescanButton" data-url="{{ rescanLink }}" onclick="rescanLib()"> 
    <ion-icon name="refresh-outline"></ion-icon>
    Rescan {{ library }}
</button> {% endif %}

<div class="loaderBackground" id="loaderBackground"></div>
<img class="spinner" id="spinner" src="{{ url_for('static', filename='img/loader.gif') }}" />
<div class="consoleList" id="systemList"></div>


<script src="{{ url_for('static',filename='js/consoles.js') }}" defer type="text/javascript"></script>{% endblock %}