{% extends 'header.html' %}{% block title %}Settings{% endblock %} {% block content %}

<form class="createAccount" id="createAccount" method="post" enctype="multipart/form-data">
    <div class="accountCreateFields">
        <div class="nameAccountCreator">
            <label for="name">{{ g.language["name"] }} : </label>
            <input type="text" name="name" id="name" class="name form_field_create_account">
        </div>
        <div class="passwordAccountCreator">
            <label for="password">{{ g.language["password"] }} : </label>
            <input type="password" name="password" id="password" class="password form_field_create_account">
        </div>
        <div class="profileAccountCreator">
            <label for="profilePicture">{{ g.language["profilePic"] }} : </label>
            <input type="file" name="profilePicture" id="profilePicture" accept="image/*">
        </div>
        <div class="typeAccountCreator">
            <label for="type">{{ g.language["accountType"] }} : </label>
            <input list="accountType" name="type" id="type" class="type form_field_create_account">
            <datalist id="accountType">
                <option value="Admin">{{ g.language["admin"] }}</option>
                <option value="Adult">{{ g.language["adult"] }}</option>
                <option value="Teen">{{ g.language["teen"] }}</option>
                <option value="Kid">{{ g.language["kid"] }}</option>
            </datalist>
        </div>
    </div>
    <input id="createAccountButton" type="submit" value='{{ g.language["createAccount"] }}' class="createAccountButton">
</form>
<script src="{{ url_for('static',filename='js/createAccount.js') }}" defer type="text/javascript"></script>
{% endblock %}