{% extends 'header.html' %}{% block title %}{{ movie["title"] }}{% endblock %}{% block content %}
<h1 class="selectMovieText">{{ g.language["selectMovieText1"] }}<span id="realName">{{ movie["title"] }}</span>{{ g.language["selectMovieText2"] }}<span id="library">{{ movie["libraryName"] }}</span></h1>
<h2 class="selectMovieSecondText">{{ g.language["selectMovieSecondText"] }}</h2>

<div class="editMovieDiv">
    {% for film in allFilms %}
    <div class="movieFinded" id="{{ film['id'] }}">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{ film['poster_path'] }}" alt="{{ film['original_title'] }}">
        <h1>{{ film['original_title'] }}</h1>
    </div>
    {% endfor %}
    <div class="customMovieDIV">
        <label for="movieID">{{ g.language["customMovieId"] }}</label>
        <p class="customeIDExplication">{{ g.language["customIdExplication"] }}</p>
        <input type="text" id="movieID" name="movieID">
        <button id="customMovieButton">{{ g.language["addThisMovie"] }}</button>
    </div>
    <script src="{{ url_for('static',filename='js/editMovie.js') }}" defer></script>
</div>
{% endblock %}