{% extends 'header.html' %}{% block title %}{{ movie["title"] }}{% endblock %}{% block content %}
<h1 class="selectMovieText">Select the right movie for <span id="realName">{{ movie["title"] }}</span> in <span id="library">{{ movie["libraryName"] }}</span></h1>
<h2 class="selectMovieSecondText">If you don't find the movie, try to change the name of the file</h2>

<div class="editMovieDiv">
    {% for film in allFilms %}
    <div class="movieFinded" id="{{ film['id'] }}">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{ film['poster_path'] }}" alt="{{ film['original_title'] }}">
        <h1>{{ film['original_title'] }}</h1>
    </div>
    {% endfor %}
    <div class="customMovieDIV">
        <label for="movieID">Custom movie ID :</label>
        <p class="customeIDExplication">To get the movie ID, go to the movie on TMDB, and copy the numbers in the search bar</p>
        <input type="text" id="movieID" name="movieID">
        <button id="customMovieButton">Add this movie</button>
    </div>
    <script src="{{ url_for('static',filename='js/editMovie.js') }}" defer></script>
</div>
{% endblock %}