{% extends 'header.html' %}{% block title %}{{ title }}{% endblock %}{% block content %}
<div id="popup" class="moviePopup" style="display: none;">
    <h1>{{ g.language["continueWatch"] }}</h1>
    <a id="buttonYes">{{ g.language["yes"] }}</a>
    <a id="buttonNo">{{ g.language["no"] }}</a>
</div>
<div class="playerWrapper">
    <div class="vid">
        <div align="center" class="embed-responsive">
            <video-js id="movie" class="video-js vjs-big-play-centered" controls preload="auto">
                <source src="{{ movieUrl }}" type="application/x-mpegURL" label="Source"> {% for audioSource in allAudioSources %}
                <source id="{{ audioSource['id'] }}" src="{{ audioSource['url'] }}" type="audio/mpeg" data-label="{{ audioSource['label'] }}" data-kind="{{ audioSource['kind'] }}" data-language="{{ audioSource['language'] }}"> {% endfor %}
            </video-js>
        </div>
    </div>
</div>
<div id="allSourceId">
    {% for audioSource in allAudioSources %}
    <div class="sourceElement" data-id="{{ audioSource['id'] }}" data-label="{{ audioSource['label'] }}" data-kind="{{ audioSource['kind'] }}" data-language="{{ audioSource['language'] }}"></div>
    {% endfor %}
</div>
<script src=" {{ url_for( 'static',filename='js/movie.js' ) }} " defer></script>
{% endblock %}