{% extends 'header.html' %} {% block content %} {% if conditionIfOne %}

<h1 style="text-align: center;width: 100vw">Verify your path</h1>

{% else %}

<div id="popup" class="popup" style="display: none;">
    <i class="fa-solid fa-circle-xmark crossPopup" id="crossPopup"></i>
    <img src="" class="coverPopup" title="" alt="" />
    <p class="titlePopup"></p>
    <p class="descriptionPopup">description de img</p>
    <p class="notePopup">note de l'img/10</p>
    <a class="playPopup" href=""><i class="fa fa-solid fa-play"></i>Regarder</a>
</div>

<div class="movies">
    {% for searchedFilm in searchedFilms %}
    <div class="cover">
        <div class="content">
            <img src="{{ searchedFilm['cover'] }}" class="cover_movie" title="{{ searchedFilm['title'] }}" alt="{{ searchedFilm['title'] }}" movieUrl="{{ url_for('movie', slug=searchedFilm['slug']) }}" description="{{ searchedFilm['description'] }}" note="{{ searchedFilm['note'] }}"
            />
            <p>{{ searchedFilm['title'] }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}{% endblock %}