{% extends 'header.html' %} {% block content %} {% if conditionIfOne %}

<h1 style="text-align: center;width: 100vw;position: absolute;top: 23vh;color: black;">{{ errorMessage }}</h1>

{% else %}

<div id="popup" class="popup" style="display: none;">
    <i class="fa-solid fa-circle-xmark crossPopup" id="crossPopup"></i>
    <img src="https://google.com" class="coverPopup" title="" alt="" />
    <p class="titlePopup"></p>
    <p class="descriptionPopup">description de img</p>
    <div class="containerPopup">
        <p class="notePopup">note de l'img/10</p>
        <p class="yearPopup">year de l'img</p>
        <p class="genrePopup">genre de l'img</p>
        <p class="durationPopup">duration de l'img</p>
    </div>
    <div class="containerCast">
        <img class="castImagePopup" src="">
        <p class="castPopup">nom du cast</p>
    </div>
    <a class="playPopup" href=""><i class="fa fa-solid fa-play"></i>Regarder</a>
</div>

<div class="movies">
    {% for searchedFilm in searchedFilms %}
    <div class="cover">
        <div class="content">
            <img src="{{ searchedFilm['cover'] }}" class="cover_movie" title="{{ searchedFilm['title'] }}" alt="{{ searchedFilm['title'] }}" movieUrl="{{ url_for('movie', slug=searchedFilm['slug']) }}" duration="{{ searchedFilm['duration'] }}" cast="{{ searchedFilm['cast'] }}"
                genre="{{ searchedFilm['genre'] }}" year="{{ searchedFilm['date'] }}" description="{{ searchedFilm['description'] }}" note="{{ searchedFilm['note'] }}" />
            <p>{{ searchedFilm['title'] }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<script src="{{ url_for('static',filename='js/movies.js') }}"></script>
{% endif %}{% endblock %}