{% extends 'header.html' %}{% block title %}{{ consoleName }}{% endblock %} {% block content %} {% if conditionIfOne %}

<h1 style="text-align: center;width: 100vw;position: absolute;top: 23vh;color: black;">{{ errorMessage }}</h1>

{% else %} {% include 'popup.html' %}
<div class="backButton" id="backButton">
    <ion-icon name="arrow-back-outline" class="backArrow"></ion-icon>
    <p>Back</p>
</div>
<h1 class="consoleName">{{ consoleName }} Games</h1>
<div class="loaderBackground" id="loaderBackground"></div>
<img class="spinner" id="spinner" src="{{ url_for('static', filename='img/loader.gif') }}" />
<div id="gameList"></div>

<script src="{{ url_for('static',filename='js/games.js') }}" defer type="text/javascript"></script>
{% endif %}{% endblock %}