<html lang="fr">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolate</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.ico') }}" type="image/x-icon">
</head>

<div class="rightEffect"></div>

<form id="searchForm">
    <input placeholder="Search a movie" type="input" id="search" class="form_field" />
    <button type="submit" class="buttonSearch" onclick="search()">
        <ion-icon name="search-outline" class="fas search_icon"></ion-icon>
    </button>
</form>
<a class="settings" href="{{ url_for('settings') }}">
    <ion-icon name="cog-outline" class="cog"></ion-icon>
</a>
<header>
    <div id="goHome" class="logo_svg">
        <img class="logo" id="logo" src="/static/img/logo.png">

    </div>
    <a href="/">
        <ion-icon class="homeIcon" name="home-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
    </a>
    <a href="/movies">
        <ion-icon class="movieIcon" name="videocam-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
    </a>
    <a href="/series">
        <ion-icon class="tvIcon" name="tv-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
    </a>

</header>
<div id="goHome" class="logo_svg">
    <img class="logo" id="logo" src="{{ url_for('static',filename='img/logo.png') }}" />
</div>


<body>
    {% block content %} {% endblock %}
</body>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>

</html>