{% extends 'header.html' %}{% block title %}Chocolate{% endblock %}{% block content %} {% if moviesExist %}
<div class="cardsIndex">
    <a class="card movieCard" href="{{ url_for('films') }}">
        <img class="movieCardImage" src="{{ url_for('static',filename='img/movies.png') }}">
        <p>Movies</p>
    </a>
    <a class="card serieCard" href="{{ url_for('series') }}">
        <img class="serieCardImage" src="{{ url_for('static',filename='img/series.png') }}">
        <p>Séries</p>
    </a>
    <a class="card gameCard" href="{{ url_for('consoles') }}">
        <img class="gameCardImage" src="{{ url_for('static',filename='img/games.png') }}">
        <p>Games</p>
    </a>
</div>
{% endif %} {% endblock %}