<div id="popup" class="popup" style="display: none;">
    <ion-icon name="close-circle-outline" class="crossPopup" id="crossPopup"></ion-icon>
    <img src="#" class="coverPopup" title="" alt="" />
    <div class="popupContent">
        <p class="titlePopup"></p>
        <p class="descriptionPopup"></p>
        <div class="containerPopup">
            <p class="notePopup"></p>
            <p class="yearPopup"></p>
            <p class="genrePopup"></p>
            <p class="durationPopup"></p>
        </div>
        <div class="containerCast">
            <div class="castPopup" id="castPopup">
            </div>
        </div>
        <div class="containerSeasons"></div>
        <div class="containerSimilar">
        </div>
        <div class="containerTrailer">
        </div>
    </div>
    <a class="playPopup" href="">
        <ion-icon class="watchNow" name="play" role="img" class="md hydrated" aria-label="play outline"></ion-icon>
        Regarder
    </a>
</div>