{% extends 'header.html' %}{% block title %}{{ title }}{% endblock %}{% block content %}
<div id="popup" class="moviePopup" style="display: none;">
    <h1>Do you want to continue where you leaved ?</h1>
    <a id="buttonYes">Yes</a>
    <a id="buttonNo">No</a>
</div>
<div id='playerWrapper'>
    <video id="movie" class="video-js" controls preload="auto">
        <source src="{{ movieUrl }}" type="application/x-mpegURL">
        {% for caption in allCaptions %}
            <track kind="captions" src="{{ caption['url'] }}" srclang="{{ caption['languageCode'] }}" label="{{ caption['language'] }}">
        {% endfor %}
    </video>
    <script src="{{ url_for('static',filename='js/movie.js') }}" defer></script>
</div>
<div class="buttonsShow">
    {% if buttonPrevious %}
    <a href="{{ buttonPreviousHREF }}" class="buttonPrevious">Previous</a> {% endif %} {% if buttonNext %}
    <a href="{{ buttonNextHREF }}" class="buttonNext">Next</a> {% endif %}
</div>

{% endblock %}