{% extends 'header.html' %}{% block title %}{{ title }}{% endblock %}{% block content %}
<div id="popup" class="moviePopup" style="display: none;">
    <h1>{{ g.language["continueWatch"] }}</h1>
    <a id="buttonYes">{{ g.language["yes"] }}</a>
    <a id="buttonNo">{{ g.language["no"] }}</a>
</div>
<div class="playerWrapper">
    <div class="vid">
        <div align="center" class="embed-responsive">
            <video-js id="movie" class="video-js" controls preload="auto">
                <source src="{{ movieUrl }}" type="application/x-mpegURL" label="Source"> {% for caption in allCaptions %}
                <track kind="captions" src="{{ caption['url'] }}" srclang="{{ caption['languageCode'] }}" label="{{ caption['language'] }}"> {% endfor %}
            </video-js>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/serie.js') }}" defer></script>
</div>
<div class="buttonsShow">
    {% if buttonPrevious %}
    <a href="{{ buttonPreviousHREF }}" class="buttonPrevious">{{ g.language["previous"] }}</a> {% endif %} {% if buttonNext %}
    <a href="{{ buttonNextHREF }}" class="buttonNext">{{ g.language["next"] }}</a> {% endif %}
</div>

{% endblock %}S