{% extends 'header.html' %} {% block content %}
<form class="saveSettingsForm" action="/saveSettings/" method="post">
    <div class="moviesPathDiv">
        <label for="moviesPath">Movies directory path : </label>
        <input type="text" name="moviesPath" id="moviesPath" class="moviesPath form_field">
    </div>
    <div class="languageDiv">
        <label for="language">Languages : </label>
        <input type="text" placeholder="Example : en-US, fr-FR, de-DE, pt, es" name="language" id="language" class="language form_field">
    </div>
    <button name="saveSettings" type="submit" class="saveSettings">Save settings</button>
</form>
{% if conditionIfOne %}
<div class="notSorted">
    <h1>Problems with :</h1>
    <ul>
        {% for notSortedFilm in notSorted %}
        <li>We don't understand : {{ notSortedFilm }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %} {% endblock %}