{% extends 'header.html' %}{% block title %}Settings{% endblock %} {% block content %}

<form class="createAccount" id="createAccount" method="post" enctype="multipart/form-data">
    <div class="accountCreateFields">
        <div class="nameAccountCreator">
            <label for="name">Name : </label>
            <input type="text" name="name" id="name" class="name form_field_create_account">
        </div>
        <div class="passwordAccountCreator">
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" class="password form_field_create_account">
        </div>
        <div class="profileAccountCreator">
            <label for="profilePicture">Profile picture : </label>
            <input type="file" name="profilePicture" id="profilePicture" accept="image/*">
        </div>
        <div class="typeAccountCreator">
            <label for="type">Account type : </label>
            <input list="accountType" name="type" id="type" class="type form_field_create_account">
            <datalist id="accountType">
                <option value="Admin"></option>
                <option value="Adult"></option>
                <option value="Teen"></option>
                <option value="Kid"></option>
            </datalist>
        </div>
    </div>
    <input id="createAccountButton" type="submit" value="Create account" class="createAccountButton">
</form>

<form class="saveSettingsForm" action="" onsubmit="saveSettings(event)" method="post" id="saveSettingsForm">
    <div class="moviesPathDiv">
        <label for="moviesPath">Movies directory path : </label>
        <input type="text" name="moviesPath" id="moviesPath" class="moviesPath form_field">
    </div>
    <div class="seriesPathDiv">
        <label for="seriesPath">Series directory path : </label>
        <input type="text" name="seriesPath" id="seriesPath" class="seriesPath form_field">
    </div>
    <div class="languageDiv">
        <label for="language">Languages : </label>
        <input type="search" name="language" id="language" list="languages" class="language form_field">
        <datalist id="languages">
            <option value="en-US">American English</option>
            <option value="de-DE">Deutsch</option>
            <option value="en-EN">English</option>
            <option value="es">Español</option>
            <option value="fr-FR">Français</option>
            <option value="hi-IN">हिन्दी</option>
            <option value="it-IT">Italiano</option>
            <option value="ja-JP">日本語</option>
            <option value="ko-KR">한국어</option>
            <option value="pl-PL">Polski</option>
            <option value="pt">Português</option>
            <option value="ro-RO">Română</option>
            <option value="ru-RU">Русский</option>
            <option value="sk-SK">Slovenčina</option>
            <option value="sv-SE">Svenska</option>
            <option value="tr-TR">Türkçe</option>
            <option value="zh">普通话</option>
        </datalist>
    </div>
    <div class="portInput">
        <label for="port">Server port : </label>
        <input type="number" name="port" id="port" class="port form_field">
    </div>
    <input id="register" type="submit" value="Save settings" class="saveSettings">
</form>

{% if conditionIfOne %}
<div class="notSorted">
    <h1>Problems with :</h1>
    <ul>
        {% for notSortedFilm in notSorted %}
        <li>We don't understand : {{ notSortedFilm }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<script src="{{ url_for('static',filename='js/settings.js') }}"></script>
{% endblock %}