{% extends 'header.html' %}{% block title %}Settings{% endblock %} {% block content %}
<div id="popupLibrary" class="popupLibrary popup">
    <ion-icon name="close-outline" class="crossPopup" id="crossPopup"></ion-icon>
    <div class="settingsLibrary">
        <div class="libTypeSelect">
            <input type="radio" name="libType" id="movies" class="input-hidden" libType="movies" checked>
            <label for="movies" id="movieLabel">
                <ion-icon name="film-outline" class="selected"></ion-icon>
                <br>
                <span>{{ g.language["movies"] }}</span>
            </label>
            <input type="radio" name="libType" id="series" class="input-hidden" libType="series">
            <label for="series" id="seriesLabel">
                <ion-icon name="videocam-outline"></ion-icon>
                <br>
                <span>{{ g.language["series"] }}</span>
            </label>
            <input type="radio" name="libType" id="games" class="input-hidden" libType="games">
            <label for="games" id="gamesLabel">
                <ion-icon name="game-controller-outline"></ion-icon>
                <br>
                <span>{{ g.language["consoles"] }}</span>
            </label>
            <input type="radio" name="libType" id="tv" class="input-hidden" libType="tv">
            <label for="tv" id="tvLabel">
                <ion-icon name="tv-outline"></ion-icon>
                <br>
                <span>{{ g.language["tvChannels"] }}</span>
            </label>
            <input type="radio" name="libType" id="other" class="input-hidden" libType="other">
            <label for="other" id="tvLabel">
                <ion-icon name="desktop-outline"></ion-icon>
                <br>
                <span>{{ g.language["other"] }}</span>
            </label>
        </div>
        <div class="libraryName">
            <label for="libraryName">{{ g.language["name"] }}:</label>
            <input type="text" id="libraryName" placeholder='{{ g.language["libraryName"] }}'>
        </div>
        <div class="libraryPath">
            <label for="libraryPath">{{ g.language["path"] }}:</label>
            <input type="text" id="libraryPath" placeholder='{{ g.language["libraryPath"] }}'>
        </div>
        <div class="libraryUsers">
            <h1>{{ g.language["users"] }}:</h1>
            {% for user in g.users %}
            <div class="user">
                <ion-icon name="person-outline"></ion-icon>
                <span>{{ user.name }}</span>
                <input type="checkbox" id="settingsCheckbox" class="settingsCheckbox" username="{{ user.name }}">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="bottomPart">
        <button class="submitNewLib" onclick="newLib()">{{ g.language["createNewLib"] }}</button>
    </div>
</div>
<form class="createAccount" id="createAccount" method="post" enctype="multipart/form-data">
    <div class="accountCreateFields">
        <div class="nameAccountCreator">
            <label for="name">{{ g.language["name"] }} : </label>
            <input type="text" name="name" id="name" class="name form_field_create_account">
        </div>
        <div class="passwordAccountCreator">
            <label for="password">{{ g.language["password"] }} : </label>
            <input type="password" name="password" id="password" class="password form_field_create_account">
        </div>
        <div class="profileAccountCreator">
            <label for="profilePicture">{{ g.language["profilePic"] }} : </label>
            <input type="file" name="profilePicture" id="profilePicture" accept="image/*">
        </div>
        <div class="typeAccountCreator">
            <label for="type">{{ g.language["accountType"] }} : </label>
            <input list="accountType" name="type" id="type" class="type form_field_create_account">
            <datalist id="accountType">
                <option value="Admin">{{ g.language["admin"] }}</option>
                <option value="Adult">{{ g.language["adult"] }}</option>
                <option value="Teen">{{ g.language["teen"] }}</option>
                <option value="Kid">{{ g.language["kid"] }}</option>
            </datalist>
        </div>
    </div>
    <input id="createAccountButton" type="submit" value='{{ g.language["createAccount"] }}' class="createAccountButton">
</form>

<form class="saveSettingsForm" action="" onsubmit="saveSettings(event)" method="post" id="saveSettingsForm">
    <div class="librariesDiv">
        <label for="addLibraryButton">{{ g.language["createNewLib"] }} : </label>
        <button type="button" id="addLibraryButton" onclick="addLibrary()">
            <ion-icon name="add-circle-outline" name="Create a new library"></ion-icon>
        </button>
    </div>
    <div class="rescanAllDiv">
        <label for="rescanAllButton">Rescan all libraries : </label>
        <button type="button" id="rescanAllButton" onclick="rescanAll()" class="rescanAllButton">
            <ion-icon name="refresh-outline" name="Rescan all libraries"></ion-icon>Rescan all libraries
        </button>
    </div>
    <div class="languageDiv">
        <label for="language">{{ g.language["languages"] }} : </label>
        <input type="search" name="language" id="language" list="languages" class="language form_field" value='{{ g.languageCode }}'>
        <datalist id="languages">
            <option value="AF">Afrikaans</option>
            <option value="SQ">Albanian</option>
            <option value="AM">Amharic</option>
            <option value="AR">Arabic</option>
            <option value="HY">Armenian</option>
            <option value="AZ">Azerbaijani</option>
            <option value="EU">Basque</option>
            <option value="BE">Belarusian</option>
            <option value="BN">Bengali</option>
            <option value="BS">Bosnian</option>
            <option value="BG">Bulgarian</option>
            <option value="CA">Catalan</option>
            <option value="NY">Chichewa</option>
            <option value="CO">Corsican</option>
            <option value="HR">Croatian</option>
            <option value="CS">Czech</option>
            <option value="DA">Danish</option>
            <option value="NL">Dutch</option>
            <option value="EN">English</option>
            <option value="EO">Esperanto</option>
            <option value="ET">Estonian</option>
            <option value="FI">Finnish</option>
            <option value="FR">French</option>
            <option value="FY">Frisian</option>
            <option value="GL">Galician</option>
            <option value="KA">Georgian</option>
            <option value="DE">German</option>
            <option value="EL">Greek</option>
            <option value="GU">Gujarati</option>
            <option value="HT">Haitian Creole</option>
            <option value="HA">Hausa</option>
            <option value="HE">Hebrew</option>
            <option value="HI">Hindi</option>
            <option value="HU">Hungarian</option>
            <option value="IS">Icelandic</option>
            <option value="IG">Igbo</option>
            <option value="ID">Indonesian</option>
            <option value="GA">Irish</option>
            <option value="IT">Italian</option>
            <option value="JA">Japanese</option>
            <option value="JV">Javanese</option>
            <option value="KN">Kannada</option>
            <option value="KK">Kazakh</option>
            <option value="KM">Khmer</option>
            <option value="KO">Korean</option>
            <option value="KU">Kurdish (Kurmanji)</option>
            <option value="LO">Lao</option>
            <option value="LA">Latin</option>
            <option value="LV">Latvian</option>
            <option value="LT">Lithuanian</option>
            <option value="LB">Luxembourgish</option>
            <option value="MK">Macedonian</option>
            <option value="MG">Malagasy</option>
            <option value="MS">Malay</option>
            <option value="ML">Malayalam</option>
            <option value="MT">Maltese</option>
            <option value="ZH">Mandarin</option>
            <option value="MI">Maori</option>
            <option value="MR">Marathi</option>
            <option value="MN">Mongolian</option>
            <option value="NE">Nepali</option>
            <option value="NO">Norwegian</option>
            <option value="PS">Pashto</option>
            <option value="FA">Persian</option>
            <option value="PL">Polish</option>
            <option value="PT">Portuguese</option>
            <option value="PA">Punjabi</option>
            <option value="RO">Romanian</option>
            <option value="RU">Russian</option>
            <option value="SM">Samoan</option>
            <option value="GD">Scots Gaelic</option>
            <option value="SR">Serbian</option>
            <option value="SN">Shona</option>
            <option value="SD">Sindhi</option>
            <option value="SK">Slovak</option>
            <option value="SL">Slovenian</option>
            <option value="SO">Somali</option>
            <option value="ES">Spanish</option>
            <option value="SU">Sundanese</option>
            <option value="SW">Swahili</option>
            <option value="SV">Swedish</option>
            <option value="TG">Tajik</option>
            <option value="TA">Tamil</option>
            <option value="TT">Tatar</option>
            <option value="TE">Telugu</option>
            <option value="TH">Thai</option>
            <option value="TR">Turkish</option>
            <option value="TK">Turkmen</option>
            <option value="UK">Ukrainian</option>
            <option value="UR">Urdu</option>
            <option value="UZ">Uzbek</option>
            <option value="VI">Vietnamese</option>
            <option value="CY">Welsh</option>
            <option value="XH">Xhosa</option>
            <option value="YI">Yiddish</option>
            <option value="YO">Yoruba</option>
            <option value="ZU">Zulu</option>
        </datalist>
    </div>
    <div class="portInput">
        <label for="port">{{ g.language["serverPort"] }} : </label>
        <input type="number" name="port" id="port" class="port form_field" value="{{ serverPort }}"> </div>
    <div class="tmdbKeyDiv">
        <label for="tmdbKey">{{ g.language["tmdbApiKey"] }} : </label>
        <input type="text" name="tmdbKey" id="tmdbKey" class="tmdbKey form_field" value="{{ tmdbKey }}">
    </div>
    <div class="igdbIDDiv">
        <label for="igdbKey">{{ g.language["igdbIdKey"] }} : </label>
        <input type="text" name="igdbID" id="igdbID" class="igdbKey form_field" value="{{ igdbID }}">
    </div>
    <div class="igdbSecretDiv">
        <label for="igdbSecret">{{ g.language["igdbSecretKey"] }} : </label>
        <input type="text" name="igdbSecret" id="igdbSecret" class="igdbSecret form_field" value="{{ igdbSecret }}"> </div>
    </div>
    <div class="allowDownloadsDiv" id="allowDownloadsDiv" data-value="{{ allowDownloads }}">
        <label for="allowDownloadsLabel">{{ g.language["allowDownloads"] }} : </label>
        <label class="allowDownloads" name="allowDownloadsLabel">
            <input type="checkbox" name="allowDownloadsCheckbox" id="allowDownloadsCheckbox" class="allowDownloadsCheckbox">
            <span class="allowDownloadsSlider"></span>
        </label>
    </div>
    <input id="register" type="submit" value='{{ g.language["saveSettings"] }}' class="saveSettings">
</form>

{% if conditionIfOne %}
<div class="notSorted">
    <h1>{{ g.language["problemsWith"] }} :</h1>
    <ul>
        {% for notSortedFilm in notSorted %}
        <li>{{ g.language["dontUnderstand"] }} : {{ notSortedFilm }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<script src="{{ url_for('static',filename='js/settings.js') }}" type="text/javascript"></script>
{% endblock %}